<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tag.css">
    <link rel="stylesheet" href="css/jsOp.css">
    <link rel="stylesheet" href="css/semantic.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/mainSection.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <!-- main banner -->
        <main class="main-banner">
            <!-- header -->
            <header>
                <div class="header">
                    <!-- logo (미완성, 로고 사진 및 멘트 수정) -->
                    <div class="logo-box">
                        <div class="logo-bg">
                        </div>
                        <div class="logo-detail">
                            <span>은퇴 계획하자</span>
                            <span>=> 은퇴의 O</span>
                        </div>
                    </div>
                    
                    <div class="search-box">
                        <input type="search" name="search_query" placeholder="검색어 입력">
                    </div>
        
                    <!-- gnb (미완성, 카테고리명 수정)-->
                    <div class="gnb">
                        <div class="gnb-item">뉴스</div>
                        <div class="gnb-item">랭킹</div>
                        <div class="gnb-item">커뮤니티</div>
                        <div class="gnb-item">고객센터</div>
                        <div class="gnb-item js-login">로그인</div>
                        <div class="gnb-item js-logout none">로그아웃</div>
                    </div>
                </div>

                <div class="main-section">
                    <button id="go_manage_btn"><a href="./user">시작하기</a></button>
                </div>
            </header>

        </main>


        <!-- 로그인 모달창 -->
        <div class="js-modal none">
            <div class="modal-content">
                <div class="modal-logo">
                    Logo 사진 예정
                    <button class="js-modal-close">
                        <img src="https://icons-for-free.com/iconfiles/png/512/CLOSE-131994911256789607.png" alt="" width="24px">
                    </button>
                </div>
                <div class="select-content">
                    <div class="modal-signIn clicked-mode">
                        <button id="signIn" onclick="clickSign(this)">로그인</button>
                    </div>
                    <div class="modal-signUp">
                        <button id="signUp" onclick="clickSign(this)">회원가입</button>
                    </div>
                </div>
                <div class="select-bar" style="position: relative; left: 0;"></div>
                <form class="modal-signIn-content action="" method="post">
                    <div class="signIn-box">
                        <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-email-vector-icon-png-image_4279324.jpg" alt="" width="32px" style="vertical-align: middle">
                        <input type="text" name="user_id" placeholder="아이디를 입력해주세요.">
                    </div>
                    <div class="signIn-box">
                        <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-email-vector-icon-png-image_4279324.jpg" alt="" width="32px" style="vertical-align: middle">
                        <input type="text" name="user_password" placeholder="패스워드를 입력해주세요.">   
                    </div>
                    <input type="checkbox"> 기억

                    <div class="submit-signIn">
                        <input type="submit" value="로그인">
                    </div>
                </form>
                <form class="modal-signUp-content none">
                    <div class="signUp-box">
                        <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-email-vector-icon-png-image_4279324.jpg" alt="" width="32px" style="vertical-align: middle">
                        <input type="text" name="user_id" placeholder="아이디를 입력해주세요.">
                    </div>
                    <div class="signUp-box">
                        <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-email-vector-icon-png-image_4279324.jpg" alt="" width="32px" style="vertical-align: middle">
                        <input type="text" name="user_email" placeholder="이메일을 입력해주세요.">
                    </div>
                    <div class="signUp-box">
                        <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-email-vector-icon-png-image_4279324.jpg" alt="" width="32px" style="vertical-align: middle">
                        <input type="password" name="user_password" placeholder="비밀번호를 입력해주세요.">
                    </div>
                    <div class="signUp-box">
                        <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-email-vector-icon-png-image_4279324.jpg" alt="" width="32px" style="vertical-align: middle">
                        <input type="text" value="data.access_token" readonly>
                    </div>
                    <div class="signUp-box">
                        <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-email-vector-icon-png-image_4279324.jpg" alt="" width="32px" style="vertical-align: middle">
                        <input type="text" value="data.refresh_token" readonly>
                    </div>
                    <div class="signUp-box">
                        <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-email-vector-icon-png-image_4279324.jpg" alt="" width="32px" style="vertical-align: middle">
                        <input type="text" value="data.user_seq_no" readonly>
                    </div>

                    <div class="submit-auth">
                        <button class="auth-for-signup">인증받기</button>
                    </div>
                    <div class="submit-signUp">
                        <input type="submit" value="가입하기">
                    </div>
                </form>
            </div>
        </div>
        <div class="overlay none"></div>

        <button id="scrollTopBtn" style="visibility: hidden;"><a href="#header">TOP</a></button>
    </div>

    <script src="js/topMove.js"></script>
    <script src="js/loadAccident.js"></script>
    <script src="js/modal.js"></script>
    <script>
        $(".auth-for-signup").click(function(){
            var tmpWindow = window.open('about:blank')
            tmpWindow.location = 
        "https://testapi.openbanking.or.kr/oauth/2.0/authorize?response_type=code&client_id=a191501e-0956-4b9c-8210-9dac7a8294aa&redirect_uri=http://localhost:3000/financial/auth/callback&scope=login inquiry&state=b80BLsfigm9OokPTjy03elbJqRHOfGSY&auth_type=0"
        
        })
    </script>
</html>