<!DOCTYPE html>
<html lang="en">
<body>
    <div id = "accessToken"><%=data.access_token%></div>
    <div id = "refreshToken"><%=data.refresh_token%></div>
    <div id = "usernum"><%=data.user_seq_no%></div>

<script>
    alert('sibal!');
    opener.document.getElementById("userAccessToken").value =
        document.getElementById("acccessToken").value;
    opener.document.getElementById("userRefreshToken").innerHTML =
        document.getElementById("refreshToken").value;
    opener.document.getElementById("userSeqNo").innerText =
        document.getElementById("usernum").value;
</script>

</html>