<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/semantic.css">
    <link rel="stylesheet" href="css/tag.css">
    <link rel="stylesheet" href="css/snb.css">
    <link rel="stylesheet" href="css/userSection.css">
    <link rel="stylesheet" href="css/mainContent.css">
    <link rel="stylesheet" href="css/myPortfolio.css">
    <link rel="stylesheet" href="css/cssprogress.css">
    <link rel="stylesheet" href="css/cssprogress.min.css">
    <link rel="stylesheet" href="css/comparisonPortfolio.css">
    <link rel="stylesheet" href="css/inputRetirement.css">
    <link rel="stylesheet" href="css/camperStory.css">
    <link rel="stylesheet" href="css/mainNews.css">
    <link rel="stylesheet" href="css/subNews.css">
    <link rel="stylesheet" href="css/jsOp.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-pie.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="js-snb">
            <div class="snb">
                <!-- profile 이미지와 이름 -->
                <div class="profile">
                    <div class="profile-image">
                        <img src="../image/logo.png" alt="" width="64px" height="48px" style="vertical-align: middle;" loading="lazy">
                    </div>
                    <div class="profile-name">
                        <span class="logo-name">Campfire</span>
                    </div>
                    <div class="snb-close">
                        <img class="snb-btn img-filter-invert" src="../image/snb_close.png" alt="" width="30px" loading="lazy">
                    </div>    
                </div>

                <!-- user interface -->
                <div class="category">
                    <div class="category-portfolio-box">
                        <div class="category-content">
                            <div class="category-item show" id="input_retirement" style="padding-right: 30px"><span class="title">은퇴계산기</span></div>
                        </div>
                    </div>

                    <!-- portfolio -->
                    <div class="category-portfolio-box">
                        <div class="category-content">
                            <div class="category-title">
                                <span class="title">포트폴리오</span>
                                <img class="toggleBtn img-filter-invert" src="../image/open_category_more.png" alt="" width="36px" loading="lazy">    
                            </div>
                            <div class="category-more">
                                <div class="category-item clicked-item" id="my_portfolio">내 포트폴리오</div>
                                <div class="category-item" id="comparison_portfolio">포트폴리오 비교 & Rank</div>
                            </div>
                        </div>
                    </div>

                    <div class="category-portfolio-box">
                        <div class="category-content">
                            <div class="category-item show" id="camper_story" style="padding-right: 30px"><span class="title">캠퍼 이야기</span></div>
                        </div>
                    </div>

                    <!-- news -->
                    <div class="category-news-box">
                        <div class="category-content">
                            <div class="category-title">
                                <span class="title">증시 뉴스</span>
                                <img class="toggleBtn img-filter-invert" src="../image/open_category_more.png" alt="" width="36px" loading="lazy">    
                            </div>
                            <div class="category-more">
                                <div class="category-item" id="main_news">주요 증시 뉴스</div>
                                <div class="category-item" id="korea_news">한국 증시 뉴스</div>
                                <div class="category-item" id="us_news">미국 증시 뉴스</div>
                                <div class="category-item" id="coin_news">가상화폐 뉴스</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mypage">
                    <button class="mypage-btn"><a href="">마이페이지</a></button>
                </div>

                <!-- logout Btn -->
                <div class="logout">
                    <button class="logout-btn"><a href="/user/withdrawl">로그아웃</a></button>
                </div>
            </div>
        </div>

        <div class="snb-open none">
            <img class="snb-btn" src="../image/snb_open.png" alt="" width="30px" loading="lazy">
        </div>

        <main class="main-content">
            <!-- input_retirement -->
            <section id="input_retirement_content" class="user-content">
                <div class="input-retirement-content">
                    <div class="input-retirement-main-content">
                        <div class="input-retirement-info">
                            <div class="input-retirement-info-title">
                                경제적 자유를 위한 계산
                            </div>
                            <form class="input-retirement-form" action="">
                                <div class="input-retirement-form-title">목표 월 수익</div>
                                <input type="text" placeholder="월 수익을 입력해주세요.">
                                <input type="submit" value="확인">
                            </form>
                            <form class="input-retirement-form" action="">
                                <div class="input-retirement-form-title">연간 수익률</div>
                                <input type="text" placeholder="연간 수익률을 입력해주세요.">
                                <input type="submit" value="확인">
                            </form>
                            <form class="input-retirement-form" action="">
                                <div class="input-retirement-form-title">월 납입금액</div>
                                <input type="text" placeholder="월 납입금액을 입력해주세요.">
                                <input type="submit" value="확인">
                            </form>
                        </div>
                        <div class="input-retirement-reference-info">
                            <div class="retirement-reference-box">
                                <!-- 목표 월 수익, 연간 수익률, 월 납입금액에 따라 변동되는 박스 -->
                            </div>
                        </div>
                    </div>
                    <div class="total-retirement-info-content">
                        <span>은퇴 후 목표 수익</span>
                        <input type="text" value="₩1,000,000,000" readonly>원을 받기까지
                        <input type="text" value="" readonly>년
                        <input type="text" value="" readonly>개월 걸립니다.

                        <div class="start-camper-story">
                            <button>시작하기</button>
                        </div>
                    </div>
                    <div class="retirement-info-table">
                        <table>
                            <thead>
                                <tr>
                                    <td></td> <td>1년</td> <td>2년</td> <td>5년</td> <td>10년</td> <td>20년</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3.8%</td> <td></td> <td></td> <td></td> <td></td> <td></td>
                                </tr>
                                <tr>
                                    <td>5%</td> <td></td> <td></td> <td></td> <td></td> <td></td>
                                </tr>
                                <tr>
                                    <td>7%</td> <td></td> <td></td> <td></td> <td></td> <td></td>
                                </tr>
                                <tr>
                                    <td>9%</td> <td></td> <td></td> <td></td> <td></td> <td></td>
                                </tr>
                                <tr>
                                    <td>11%</td> <td></td> <td></td> <td></td> <td></td> <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <!-- portfolio -->
            <!-- my_portfolio -->
            <section id="my_portfolio_content" class="user-content show">
                <div class="my-portfolio-content">
                    <article class="portfolio-left-content">
                        <div id="my_portfolio_graph" class="my-portfolio-graph"></div>
                        <div class="portfolio-archeive">
                            <div class="annual-return">
                                <h3>목표금액 달성률</h3>
                                <div class="cssProgress">
                                    <div class="progress1">
                                        <div class="cssProgress-bar cssProgress-active" data-percent="75" style="width: 75%;">
                                            <span class="cssProgress-label">75%</span>
                                        </div>
                                    </div>
                                </div>
                                <h3>남은 기한</h3>
                                <div class="cssProgress">
                                    <div class="progress2">
                                        <div class="cssProgress-bar cssProgress-success cssProgress-active" data-percent="65" style="width: 65%;">
                                            <span class="cssProgress-label">65%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="final-goal">
                                <div class="todays-box">
                                    <blockquote class="todays-maxim">
                                        <q>비트코인? 넌 이런거 하지마라.</q> 
                                    </blockquote>
                                    <span id="todays_author">- 이원호</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="portfolio-right-content">
                        <div class="my-portfolio-in">
                            <div class="my-portfolio-in-title">
                                증시 요약 정보
                            </div>
                            <div class="my-portfolio-in-content">
                                <ul>
                                    <li><a href="">38만가구, 집 등 자산 팔아도 빚 못 갚는다…69조원 시한..</a></li>
                                    <li><a href="">[표] 주요국 증시 주간 동향</a></li>
                                    <li><a href="">상장사 10개중 1개는 1년간 주가 반토막…"더 악화할 것"</a></li>
                                    <li><a href="">증시요약(10) - 기술적 분석 특징주 B(코스닥)</a></li>
                                    <li><a href="">[표] 주간 거래소 기관 순매수도 상위종목</a></li>
                                </ul>
                            </div>
                            <div class="my-portfolio-in-more">
                                <a href="">more</a>
                            </div>
                        </div>
                        <div class="my-portfolio-in">
                            <div class="my-portfolio-in-title">
                                경제 뉴스 핫토픽
                            </div>
                            <div class="my-portfolio-in-content">
                                <ul>
                                    <li><a href="">38만가구, 집 등 자산 팔아도 빚 못 갚는다…69조원 시한..</a></li>
                                    <li><a href="">[표] 주요국 증시 주간 동향</a></li>
                                    <li><a href="">상장사 10개중 1개는 1년간 주가 반토막…"더 악화할 것"</a></li>
                                    <li><a href="">증시요약(10) - 기술적 분석 특징주 B(코스닥)</a></li>
                                    <li><a href="">[표] 주간 거래소 기관 순매수도 상위종목</a></li>
                                </ul>
                            </div>
                            <div class="my-portfolio-in-more">
                                <a href="">more</a>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <!-- comparison_portfolio -->
            <section id="comparison_portfolio_content" class="user-content">
                <div class="comparison-portfolio-content">
                    <div class="comparison-title">
                        <span>포트폴리오 비교 & 랭킹</span>
                    </div>

                    <div class="rank-and-comparison-portfolio">
                        <div class="rank-portfolio">
                            <div class="rank-portfolio-title">
                                포트폴리오 랭킹
                            </div>

                            <form class="search-user-form" action="get">
                                <input class="search-user" type="text" placeholder="유저 검색창" name="search_user">
                                <input class="submit-search-user" type="submit" value="검색">
                            </form>

                            <div class="rank-portfolio-tag">
                                <button class="clicked-tag">수익률</button>
                                <button>목표달성률</button>
                                <button>랭킹</button>
                            </div>

                            <table>
                                <thead>
                                    <tr>
                                        <td>순위</td> <td>닉네임</td> <td>금액</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="../image/gold_medal.png" alt="" width="50px" loading="lazy"></td> <td><a href="">김수석</a></td> <td>₩100,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>2등</td> <td><a href="">황박사</a></td> <td>₩99,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>3등</td> <td><a href="">나만없어고양이</a></td> <td>₩88,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>4등</td> <td><a href="">나도1등</a></td> <td>₩77,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>5등</td> <td><a href="">치킨집차리자</a></td> <td>₩66,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>6등</td> <td><a href="">제드팀</a></td> <td>₩55,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>7등</td> <td><a href="">대출은 리드코프</a></td> <td>₩44,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>8등</td> <td><a href="">youtube_kk</a></td> <td>₩33,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>9등</td> <td><a href="">워뇨띠</a></td> <td>₩22,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>10등</td> <td><a href="">고양이에옹</a></td> <td>₩11,000,000</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="rank-portfolio-more">
                                <button>더 보기..</button>
                            </div>
                        </div>
                        <div class="comparison-portfolio">
                            <div class="portfolio-contents-box">
                                <div class="portfolio-content-for-comparison">
                                    <div id="my_portfolio_graph_for_comparison" class="comparison-portfolio-vs"></div>
    
                                    <div class="portfolio-progress-box">
                                        <div class="annual-return progress-for-comparison">
                                            <h3>목표금액 달성률</h3>
                                            <div class="cssProgress">
                                                <div class="progress1">
                                                    <div class="cssProgress-bar cssProgress-active" data-percent="20" style="width: 20%;">
                                                        <span class="cssProgress-label">20%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3>은퇴 달성률</h3>
                                            <div class="cssProgress">
                                                <div class="progress2">
                                                    <div class="cssProgress-bar cssProgress-success cssProgress-active" data-percent="75" style="width: 75%;">
                                                        <span class="cssProgress-label">75일</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-content-for-comparison">
                                    <div id="user_portfolio_graph" class="comparison-portfolio-vs"></div>
    
                                    <div class="portfolio-progress-box">
                                        <div class="annual-return progress-for-comparison">
                                            <h3>목표금액 달성률</h3>
                                            <div class="cssProgress">
                                                <div class="progress1">
                                                    <div class="cssProgress-bar cssProgress-active" data-percent="75" style="width: 75%;">
                                                        <span class="cssProgress-label">75%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3>은퇴 달성률</h3>
                                            <div class="cssProgress">
                                                <div class="progress2">
                                                    <div class="cssProgress-bar cssProgress-success cssProgress-active" data-percent="29" style="width: 29%;">
                                                        <span class="cssProgress-label">29일</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vs-portfolio-main-content">
                                <div class="vs-portfolio-box">
                                    <div class="vs-portfolio-title">
                                        포트폴리오 비교
                                    </div>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>공격적</td> <td class="question">투자 성향</td> <td>안정적</td>
                                            </tr>
                                            <tr>
                                                <td>20%</td> <td class="question">목표금액 달성률</td> <td>75%</td>
                                            </tr>
                                            <tr>
                                                <td>5%</td> <td class="question">은퇴 달성률</td> <td>85%</td>
                                            </tr>
                                            <tr>
                                                <td>성장주, 우량주</td> <td class="question">투자 종목</td> <td>우량주, 가치주</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- camper_story -->
            <section id="camper_story_content" class="user-content">
                <div class="camper-story-content">
                    <div class="camper-story-category">
                        <button id="retirement_story" class="camper-category clicked-story">은퇴자 이야기</button>
                        <button id="sharing_info" class="camper-category">정보 공유</button>
                        <button id="worried_story" class="camper-category">고민 이야기</button>
                    </div>
                    <div class="camper-story-category-content">
                        <div class="camper-story-main-content-box">
                            <div class="camper-story-main-content">
                                <div class="camper-story-article">
                                    <div class="camper-story-article-top">
                                        <div class="camper-story-user-image">
                                            <img src="http://www.kwangju.co.kr/upimages/gisaimg/201309/26_506974.jpg" alt="" loading="lazy">
                                        </div>
                                        <div class="camper-story-user-info">
                                            <span class="camper-story-author">김수석</span>
                                            <div class="camper-story-date">2022.10.09</div>    
                                        </div>
                                    </div>
                                    <div class="camper-story-article-content">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dicta ducimus sint consequatur cupiditate accusamus laudantium pariatur optio, quia ea repellat porro molestiae minus. Similique error enim dolor corporis eum.</p>
                                    </div>
                                    <div class="camper-story-article-more">
                                        <button>더 보기</button>
                                    </div>
                                </div>
                                <div class="camper-story-article">
                                    <div class="camper-story-article-top">
                                        <div class="camper-story-user-image">
                                            <img src="https://newsimg.sedaily.com/2019/07/15/1VLPD210XD_1.jpg" alt="" loading="lazy">
                                        </div>
                                        <div class="camper-story-user-info">
                                            <span class="camper-story-author">황박사</span>
                                            <div class="camper-story-date">2022.10.09</div>    
                                        </div>
                                    </div>
                                    <div class="camper-story-article-content">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dicta ducimus sint consequatur cupiditate accusamus laudantium pariatur optio, quia ea repellat porro molestiae minus. Similique error enim dolor corporis eum.</p>
                                        <h3>Coin is best Choice.</h3>
                                    </div>
                                    <div class="camper-story-article-more">
                                        <button>더 보기</button>
                                    </div>
                                </div>
                                <div class="camper-story-article">
                                    <div class="camper-story-article-top">
                                        <div class="camper-story-user-image">
                                            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FtEMUl%2FbtrDc6957nj%2FNwJoDw0EOapJNDSNRNZK8K%2Fimg.jpg" alt="" loading="lazy">
                                        </div>
                                        <div class="camper-story-user-info">
                                            <span class="camper-story-author">나만없어고양이</span>
                                            <div class="camper-story-date">2022.10.09</div>    
                                        </div>
                                    </div>
                                    <div class="camper-story-article-content">
                                        <p>고양이를 키우자.</p>
                                        <p>고양이에옹이는 최고에옹</p>
                                        <p>고양이를 키우시면 저 처럼 돈을 많이 벌 수 있냐옹</p>
                                    </div>
                                    <div class="camper-story-article-more">
                                        <button>더 보기</button>
                                    </div>
                                </div>
                            </div>
                            <div class="camper-story-main-content">
                                <div class="camper-story-article">
                                    <div class="camper-story-article-top">
                                        <div class="camper-story-user-image">
                                            <img src="http://www.kwangju.co.kr/upimages/gisaimg/201309/26_506974.jpg" alt="" loading="lazy">
                                        </div>
                                        <div class="camper-story-user-info">
                                            <span class="camper-story-author">나도1등</span>
                                            <div class="camper-story-date">2022.10.09</div>    
                                        </div>
                                    </div>
                                    <div class="camper-story-article-content">
                                        <p>1등 따라하면 당신도 돈 벌수 있습니다. 쉽죠? 네 누구나 다 가능합니다.</p>
                                        <p>저도 1등 따라서 4등이나 했어요. 따라오세요</p>
                                    </div>
                                    <div class="camper-story-article-more">
                                        <button>더 보기</button>
                                    </div>
                                </div>
                                <div class="camper-story-article">
                                    <div class="camper-story-article-top">
                                        <div class="camper-story-user-image">
                                            <img src="https://www.pngmart.com/files/16/Crunchy-KFC-Chicken-PNG-Pic.png" alt="" loading="lazy">
                                        </div>
                                        <div class="camper-story-user-info">
                                            <span class="camper-story-author">치킨집차리자</span>
                                            <div class="camper-story-date">2022.10.09</div>    
                                        </div>
                                    </div>
                                    <div class="camper-story-article-content">
                                        <p>여러분 치킨은 진리입니다.</p>
                                    </div>
                                    <div class="camper-story-article-more">
                                        <button>더 보기</button>
                                    </div>
                                </div>
                                <div class="camper-story-article">
                                    <div class="camper-story-article-top">
                                        <div class="camper-story-user-image">
                                            <img src="https://obj-sg.thewiki.kr/data/7a65645f436c61737369632e6a7067.jpg" alt="" loading="lazy">
                                        </div>
                                        <div class="camper-story-user-info">
                                            <span class="camper-story-author">제드팀</span>
                                            <div class="camper-story-date">2022.10.09</div>    
                                        </div>
                                    </div>
                                    <div class="camper-story-article-content">
                                        <h2>롤하면서 돈 모으는 방법 대방출</h2>
                                        <p>1. 아무 코인을 탄다.</p>
                                        <p>2. 롤을 한다.</p>
                                        <p>3. 코인이 오르기를 기다린다. 그리.....</p>
                                    </div>
                                    <div class="camper-story-article-more">
                                        <button>더 보기</button>
                                    </div>
                                </div>
                                <div class="camper-story-more">
                                    <button>글 목록</button>
                                </div>
                            </div>
                        </div>
                        <div class="camper-story-hot-article">
                            <div class="camper-hot-title">
                                <h2>인기 게시글</h2>
                            </div>
                            <div class="camper-hot-article">
                                <div class="camper-hot-article-content">
                                    <div class="camper-hot-article-rank">
                                        <img src="../image/gold_medal.png" alt="" width="50px" loading="lazy">
                                        <span class="recommendation-text">추천수: 57,232</span>
                                    </div>
                                    <div class="camper-story-article">
                                        <div class="camper-story-article-top">
                                            <div class="camper-story-user-image">
                                                <img src="http://www.kwangju.co.kr/upimages/gisaimg/201309/26_506974.jpg" alt="" loading="lazy">
                                            </div>
                                            <div class="camper-story-user-info">
                                                <span class="camper-story-author">김수석</span>
                                                <div class="camper-story-date">2022.10.09</div>    
                                            </div>
                                        </div>
                                        <div class="camper-story-article-content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dicta ducimus sint consequatur cupiditate accusamus laudantium pariatur optio, quia ea repellat porro molestiae minus. Similique error enim dolor corporis eum.</p>
                                        </div>
                                        <div class="camper-story-article-more">
                                            <button>더 보기</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="camper-hot-article-content">
                                    <div class="camper-hot-article-rank">
                                        <img src="../image/silver_medal.png" alt="" width="48px" loading="lazy">
                                        <span class="recommendation-text">추천수: 28,232</span>
                                    </div>
                                    <div class="camper-story-article">
                                        <div class="camper-story-article-top">
                                            <div class="camper-story-user-image">
                                                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Anonymous_emblem.svg" alt="" loading="lazy">
                                            </div>
                                            <div class="camper-story-user-info">
                                                <span class="camper-story-author">18년졸업</span>
                                                <div class="camper-story-date">2018.10.09</div>    
                                            </div>
                                        </div>
                                        <div class="camper-story-article-content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dicta ducimus sint consequatur cupiditate accusamus laudantium pariatur optio, quia ea repellat porro molestiae minus. Similique error enim dolor corporis eum.</p>
                                        </div>
                                        <div class="camper-story-article-more">
                                            <button>더 보기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- news -->
            <!-- main_news -->
            <section id="main_news_content" class="user-content">
                <article class="major-accident">
                    <div class="major-accident-title">
                        <span>주요 증시 뉴스</span>
                    </div>

                    <div class="major-accident-indicator">
                        <div class="accident-news-date">
                            <span id="accident_date" class="text-color">2021.10</span> 주요 증시뉴스
                        </div>
                        <div class="accident-news-content">
                            <div class="accdient-news-items">
                                <ul>
                                    <li>뉴욕증시, 연준 물가 상승에 ... 다우 1.71%↓ 마감 [월가월부..</li>
                                    <li>'9월은 잔인한 달' ... 뉴욕증시, 1~9월 하락률 20년만에 최..</li>
                                    <li>뉴욕증시, 연준 선호 물가 상승에 혼조세로 출발</li>
                                    <li>아시아 증시, 이달 하락폭 코로나19 이후 최대</li>
                                    <li>비트코인 50만 달러 가나?</li>
                                </ul>
                            </div>
                            <div class="accdient-news-items">
                                <ul>
                                    <li>뉴욕증시, 연준 물가 상승에 ... 다우 1.71%↓ 마감 [월가월부..</li>
                                    <li>'9월은 잔인한 달' ... 뉴욕증시, 1~9월 하락률 20년만에 최..</li>
                                    <li>뉴욕증시, 연준 선호 물가 상승에 혼조세로 출발</li>
                                    <li>아시아 증시, 이달 하락폭 코로나19 이후 최대</li>
                                    <li>비트코인 50만 달러 가나?</li>
                                </ul>
                            </div>
                            <div class="accdient-news-items">
                                <ul>
                                    <li>뉴욕증시, 연준 물가 상승에 ... 다우 1.71%↓ 마감 [월가월부..</li>
                                    <li>'9월은 잔인한 달' ... 뉴욕증시, 1~9월 하락률 20년만에 최..</li>
                                    <li>뉴욕증시, 연준 선호 물가 상승에 혼조세로 출발</li>
                                    <li>아시아 증시, 이달 하락폭 코로나19 이후 최대</li>
                                    <li>비트코인 50만 달러 가나?</li>
                                </ul>
                            </div>
                        </div>

                        <!-- 라인을 표시 -->
                        <div class="major-accident-line"></div>

                        <!-- 버튼 표시 -->
                        <div class="major-accident-btn-box">
                            <button class="accident-btn" value="2021.10"></button>
                            <button class="accident-btn" value="2021.11"></button>
                            <button class="accident-btn" value="2021.12"></button>
                            <button class="accident-btn" value="2022.01"></button>
                            <button class="accident-btn" value="2022.02"></button>
                            <button class="accident-btn" value="2022.03"></button>
                            <button class="accident-btn" value="2022.04"></button>
                            <button class="accident-btn" value="2022.05"></button>
                            <button class="accident-btn" value="2022.06"></button>
                            <button class="accident-btn" value="2022.07"></button>
                            <button class="accident-btn" value="2022.08"></button>
                            <button class="accident-btn" value="2022.09"></button>
                        </div>

                        <!-- 1년을 기준으로 표시(미완성, JS 처리 필요) -->
                        <div class="major-accident-separate">
                            <div id="accident01">21.10</div>
                            <div id="accident02">21.11</div>
                            <div id="accident03">21.12</div>
                            <div id="accident04">22.01</div>
                            <div id="accident05">22.02</div>
                            <div id="accident06">22.03</div>
                            <div id="accident07">22.04</div>
                            <div id="accident08">22.05</div>
                            <div id="accident09">22.06</div>
                            <div id="accident10">22.07</div>
                            <div id="accident11">22.08</div>
                            <div id="accident12">22.09</div>
                        </div>
                    </div>
                </article>
            </section>

            <!-- korea_news -->
            <section id="korea_news_content" class="user-content">
                <div class="sub-news-content">
                    <article class="accident-article">
                        <div class="accident-article-title">
                            <span>한국 증시 뉴스</span>
                        </div>
                        <div class="accident-article-content">
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04 23:34
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://img2.yna.co.kr/photo/etc/gt/2022/09/24/PGT20220924057701009_P4.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">뉴욕증시, 국채금리 하락에 상승…다우 3만 회복하며 출발</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        (뉴욕=연합뉴스) 윤영숙 연합인포맥스 특파원 = 뉴욕증시는 국채금리 하락세가 지속되며 오름세를 보였다. 4일(미 동부시간)...
                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04 19:04
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://img1.yna.co.kr/photo/cms/2021/07/07/25/PCM20210707000025030_P4.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">남양유업 "홍원식 회장, 주식양도 소송판결 불복해 항소"</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        (서울=연합뉴스) 신선미 기자 = 남양유업[003920]은 홍원식 회장 측이 주식양도 소송 판결에 불복하며 항소를 제기했다고 4일...
                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04 18:23
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://img2.yna.co.kr/photo/cms/2021/04/14/70/PCM20210414000070990_P4.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">증선위, '회계처리기준 위반' 서울제약·에스에스알 검찰 고발</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        엔에스엔도 과징금 부과 등 제재 (서울=연합뉴스) 오주현 기자 = 금융위원회 산하 증권선물위원회는 4일 제17차 회의에서 회계처...                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04 18:18
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://img0.yna.co.kr/photo/cms/2022/04/27/72/PCM20220427000072017_P4.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">SK바사 코로나백신 '이종 부스터샷', 네팔서 3상 계획 승인</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        (서울=연합뉴스) 조승한 기자 = SK바이오사이언스[302440]는 네팔 보건당국이 코로나19 백신 'GBP510'의 이종 부스...
                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04 18:14
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://img2.yna.co.kr/photo/yna/YH/2022/09/30/PYH2022093012700006100_P4.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">'화성 공장 화재' 화일약품, 원료 생산 중단</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        "생산 재개 예정 일자는 미정" (서울=연합뉴스) 조현영 기자 = 화일약품[061250]은 경기도 화성 상신리공장에서 발생한 화...                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04 18:12
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://img4.yna.co.kr/etc/inner/KR/2022/10/04/AKR20221004165500003_01_i_P4.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">고려아연 아크에너지, 호주 통신사에 재생에너지 전력 공급</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        (서울=연합뉴스) 홍국기 기자 = 고려아연[010130]은 호주 자회사인 아크에너지가 호주 최대 통신기업 텔스트라와 재생...                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accident-article-pagenator">
                            <button>1</button>
                            <button>2</button>
                            <button>3</button>
                        </div>
                    </article>
    
                    <article class="chart-indicators">
                        <div class="kospi-chart">
                            <img src="../image/kopsi.PNG" alt="" loading="lazy">
                        </div>
                        <div class="kosdaq-chart">
                            <img src="../image/kosdaq.PNG" alt="" loading="lazy">
                        </div>
                        <div class="kospi200-chart">
                            <img src="../image/kospi200.PNG" alt="" loading="lazy">
                        </div>
                    </article>
                </div>
            </section>

            <!-- us_news -->
            <section id="us_news_content" class="user-content">
                <div class="sub-news-content">
                    <article class="accident-article">
                        <div class="accident-article-title">
                            <span>미국 증시 뉴스</span>
                        </div>

                        <div class="accident-article-content">
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-05 23:34
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://img4.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202210/05/ked/20221005001507587ivkp.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">8월 미국 일자리 전달보다 1백만개 이상 감소</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        이 기사는 국내 최대 해외 투자정보 플랫폼 한경 글로벌마켓에 게재된 기사입니다. 8월중 미국의 일자리(JOLTS)가 ...
                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04 19:04
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://img2.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202210/04/ked/20221004235404393bubc.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">마이크론, 뉴욕 북부에 컴퓨터용 반도체 공장 건설</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        이 기사는 국내 최대 해외 투자정보 플랫폼 한경 글로벌마켓에 게재된 기사입니다. 마이크론 테크놀로지 (MU) ...
                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04 18:23
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://img1.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202210/04/ked/20221004231506974ulfp.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">뉴욕증시, 이틀째 상승 출발</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        이 기사는 국내 최대 해외 투자정보 플랫폼 한경 글로벌마켓에 게재된 기사입니다. 뉴욕 증시가 월요일에 이어 ...
                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04 18:18
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://img1.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202210/04/ked/20221004225105609xzts.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">JP모건, 아마존·우버·알파벳 '비중 확대'</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        이 기사는 국내 최대 해외 투자정보 플랫폼 한경 글로벌마켓에 게재된 기사입니다. JP모건은 최근 몇개월간 주가가 하락 ...
                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    <span>10-04 18:14</span>
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://img1.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202210/04/ked/20221004214405278jfta.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">JP모건, 디즈니 영업이익 감소 전망..목표주가 낮춰</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        이 기사는 국내 최대 해외 투자정보 플랫폼 한경 글로벌마켓에 게재된 기사입니다. JP모건은 최근 초강력 허리케인 이언이 플로리다를 ...
                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    <span>10-04 18:12</span>
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://img4.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202210/04/ked/20221004190703875ikyn.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">캐시우드의 아크 펀드, 테슬라 급락하자 '매수'</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        이 기사는 국내 최대 해외 투자정보 플랫폼 한경 글로벌마켓에 게재된 기사입니다. ‘돈나무 언니’ 캐시 우드의 ARK 펀드가 ...
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accident-article-pagenator">
                            <button>1</button>
                            <button>2</button>
                            <button>3</button>
                        </div>
                    </article>
    
                    <article class="chart-indicators">
                        <div class="kospi-chart">
                            <img src="../image/dowjones.PNG" alt="" loading="lazy">
                        </div>
                        <div class="kosdaq-chart">
                            <img src="../image/nasdaq.PNG" alt="" loading="lazy">
                        </div>
                        <div class="kospi200-chart">
                            <img src="../image/s&p500.PNG" alt="" loading="lazy">
                        </div>
                    </article>
                </div>
            </section>

            <!-- coin_news -->
            <section id="coin_news_content" class="user-content">
                <div class="sub-news-content">
                    <article class="accident-article">
                        <div class="accident-article-title">
                            <span>가상화폐 뉴스</span>
                        </div>
                        <div class="accident-article-content">
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://www.coindeskkorea.com/news/photo/202210/81584_25235_1947.jpeg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">[코인시황] 비트코인·이더리움 상승세로 한주 시작</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        가격 동향BTC(비트코인)와 ETH(이더리움)는 지속적인 회복세를 보이며 한 주를 시작했다. 거래량은 다소 낮았지만 ...
                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://www.coindeskkorea.com/news/photo/202210/81585_25237_5420.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">아르헨 국영 에너지기업, 가상화폐 채굴회사에 전력 공급</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        아르헨티나 국영 에너지 기업이 글로벌 가상화폐 채굴기업에 전력을 공급 중인 것으로 나타났다.4일(현지시간) 코인 ...
                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://www.coindeskkorea.com/news/photo/202210/81578_25234_4334.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">웹3 스타트업 골든, a16z 주도로 4000만달러 투자 유치</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        웹3 데이터 스타트업 골든 프로토콜(Golden protocol)이 4000만 달러(약 575억원)규모의 시리즈 B 투자를 유치..
                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://www.coindeskkorea.com/news/photo/202209/81501_25133_746.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">잭 리아오 "이더리움은 갈수록 폰지 사기를 닮아간다"</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        잭 리아오는 원래 중국 선전시에서 전자 기기 업체를 운영하는 사업가였다. 그러다가 러시아, 포르투갈 등에서 온 ..
                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://www.coindeskkorea.com/news/photo/202210/81575_25233_3236.png" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">'[아침브리핑] SEC, ‘코인 뒷광고’ 카다시안에 벌금 18억원</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        1. SEC, 이더리움맥스 뒷광고한 킴 카다시안에 벌금 18억원미국 증권거래위원회(SEC)가 킴 카다시안이 가상자산을 ..
                                    </div>
                                </div>
                            </div>
                            <div class="accident-article-item">
                                <div class="accident-article-item-time">
                                    10-04
                                </div>
                                <div class="accident-article-item-img">
                                    <a href=""><img src="https://www.coindeskkorea.com/news/photo/202209/81500_25136_1942.jpg" alt="" width="150px" loading="lazy"></a>
                                </div>
                                <div class="accident-article-item-box">
                                    <div class="accident-article-item-title">
                                        <a href="">[마이클 케이시] 파월은 과연 인플레를 잡을 수 있을까?</a>
                                    </div>
                                    <div class="accident-article-item-detail">
                                        ‘돈을 다시 생각하다(Money Reimagined)’는 주제의 이 칼럼은, 돈과 인간의 관계를 재정의하거나 글로벌 금융..
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accident-article-pagenator">
                            <button>1</button>
                            <button>2</button>
                            <button>3</button>
                        </div>
                    </article>
    
                    <article class="chart-indicators">
                        <div class="kospi-chart">
                            <img src="../image/bitcoin.PNG" alt="" loading="lazy">
                        </div>
                    </article>
                </div>
            </section>
        </main>
    </div>

    <!-- <script src="js/account.js"></script> -->
    <script src="js/loadCamperStory.js"></script>
    <script src="js/portfolioChart.js"></script>
    <script src="js/snbLoading.js"></script>
    <script src="js/loadAccident.js"></script>
    <script src="js/snbResizing.js"></script>
</body>
</html>