<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/semantic.css">
    <link rel="stylesheet" href="css/tag.css">
    <link rel="stylesheet" href="css/snb.css">
    <link rel="stylesheet" href="css/mainContent.css">
    <link rel="stylesheet" href="css/section1.css">
    <link rel="stylesheet" href="css/retirementInfo.css">

    <link rel="stylesheet" href="css/mainNews.css">
    <link rel="stylesheet" href="css/jsOp.css">

    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="snb">
            <!-- profile 이미지와 이름 -->
            <div class="profile">
                <div class="profile-image">
                    <img src="../image/retire_image.jpg" alt="" width="64px" height="48px" style="vertical-align: middle;">
                </div>
                <div class="profile-name">
                    <span class="text-color">이원호</span>님 환영합니다!
                </div>
            </div>

            <!-- user interface -->
            <div class="category">
                <!-- mypage -->
                <div class="category-mypage-box">
                    <div class="category-content">
                        <div class="category-title">
                            <span class="title">마이페이지</span>
                            <img class="toggleBtn" src="../image/open_category_more.png" alt="" width="36px">    
                        </div>
                        <div class="category-more show">
                            <div class="category-item clicked-item" id="portfolio_register">포트폴리오 등록</div>
                            <div class="category-item" id="profile_update">프로필 수정</div>
                            <div class="category-item" id="account_manage">계정 관리</div>
                            <div class="category-item" id="account_remove">계정 탈퇴</div>
                        </div>
                    </div>
                </div>

                <!-- retirement -->
                <div class="category-retirement--box">
                    <div class="category-content">
                        <div class="category-title">
                            <span class="title">은퇴계산기</span>
                            <img class="toggleBtn" src="../image/open_category_more.png" alt="" width="36px">    
                        </div>
                        <div class="category-more">
                            <div class="category-item" id="retirement_input">은퇴계산기 입력</div>
                            <div class="category-item" id="annual_return">연간 수익률</div>
                            <div class="category-item" id="longterm_return">장기 수익률</div>
                        </div>
                    </div>
                </div>

                <!-- portfolio -->
                <div class="category-portfolio-box">
                    <div class="category-content">
                        <div class="category-title">
                            <span class="title">포트폴리오</span>
                            <img class="toggleBtn" src="../image/open_category_more.png" alt="" width="36px">    
                        </div>
                        <div class="category-more">
                            <div class="category-item" id="my_portfolio">내 포트폴리오</div>
                            <div class="category-item" id="comparison_portfolio">포트폴리오 비교</div>
                        </div>
                    </div>
                </div>

                <!-- news -->
                <div class="category-news-box">
                    <div class="category-content">
                        <div class="category-title">
                            <span class="title">증시 뉴스</span>
                            <img class="toggleBtn" src="../image/open_category_more.png" alt="" width="36px">    
                        </div>
                        <div class="category-more">
                            <div class="category-item" id="main_news">주요 증시 뉴스</div>
                            <div class="category-item" id="korea_news">한국 증시 뉴스</div>
                            <div class="category-item" id="us_news">미국 증시 뉴스</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- logout Btn -->
            <div class="logout">
                <button class="logout-btn"><a href="./">로그아웃</a></button>
            </div>
        </div>

        <main class="main-content">
            <!-- mypage -->
            <!-- portfolio_register -->
            <section id="portfolio_register_content" class="user-content">
                portfolio_register
            </section>

            <!-- profile_update -->
            <section id="profile_update_content" class="user-content">
                profile_update
            </section>

            <!-- account_manage -->
            <section id="account_manage_content" class="user-content">
                account_manage
            </section>

            <!-- account_remove -->
            <section id="account_remove_content" class="user-content">
                account_remove
            </section>

            <!-- retirement -->
            <!-- retirement_input -->
            <section id="retirement_input_content" class="user-content">
                retirement_input
            </section>

            <!-- annual_return -->
            <section id="annual_return_content" class="user-content">
                annual_return
            </section>

            <!-- longterm_return -->
            <section id="longterm_return_content" class="user-content">
                longterm_return
            </section>


            <!-- portfolio -->
            <!-- my_portfolio -->
            <section id="my_portfolio_content" class="user-content">
                my_portfolio
            </section>

            <!-- comparison_portfolio -->
            <section id="comparison_portfolio_content" class="user-content">
                comparison_portfolio
            </section>

            <!-- news -->
            <!-- main_news -->
            <section id="main_news_content" class="user-content show">
                <article class="major-accident">
                    <div class="major-accident-title">
                        <span>주요 증시 뉴스</span>
                    </div>

                    <div class="major-accident-indicator">
                        <div class="accident-news-date">
                            <span class="text-color">2021.10</span> 주요 증시뉴스
                        </div>
                        <div class="accident-news-content">
                            <div class="accdient-news-items">
                                <ul>
                                    <li>뉴욕증시, 연준 물가 상승에 ... 다우 1.71%↓ 마감 [월가월부..</li>
                                    <li>'9월은 잔인한 달' ... 뉴욕증시, 1~9월 하락률 20년만에 최..</li>
                                    <li>뉴욕증시, 연준 선호 물가 상승에 혼조세로 출발</li>
                                    <li>아시아 증시, 이달 하락폭 코로나19 이후 최대</li>
                                    <li>비트코인 50만 달러 가나?</li>
                                </ul>
                            </div>
                            <div class="accdient-news-items">
                                <ul>
                                    <li>뉴욕증시, 연준 물가 상승에 ... 다우 1.71%↓ 마감 [월가월부..</li>
                                    <li>'9월은 잔인한 달' ... 뉴욕증시, 1~9월 하락률 20년만에 최..</li>
                                    <li>뉴욕증시, 연준 선호 물가 상승에 혼조세로 출발</li>
                                    <li>아시아 증시, 이달 하락폭 코로나19 이후 최대</li>
                                    <li>비트코인 50만 달러 가나?</li>
                                </ul>
                            </div>
                            <div class="accdient-news-items">
                                <ul>
                                    <li>뉴욕증시, 연준 물가 상승에 ... 다우 1.71%↓ 마감 [월가월부..</li>
                                    <li>'9월은 잔인한 달' ... 뉴욕증시, 1~9월 하락률 20년만에 최..</li>
                                    <li>뉴욕증시, 연준 선호 물가 상승에 혼조세로 출발</li>
                                    <li>아시아 증시, 이달 하락폭 코로나19 이후 최대</li>
                                    <li>비트코인 50만 달러 가나?</li>
                                </ul>
                            </div>
                        </div>

                        <!-- 라인을 표시 -->
                        <div class="major-accident-line"></div>

                        <!-- 버튼 표시 -->
                        <div class="major-accident-btn-box">
                            <button class="accident-btn"></button>
                            <button class="accident-btn"></button>
                            <button class="accident-btn"></button>
                            <button class="accident-btn"></button>
                            <button class="accident-btn"></button>
                            <button class="accident-btn"></button>
                            <button class="accident-btn"></button>
                            <button class="accident-btn"></button>
                            <button class="accident-btn"></button>
                            <button class="accident-btn"></button>
                            <button class="accident-btn"></button>
                            <button class="accident-btn"></button>
                        </div>

                        <!-- 1년을 기준으로 표시(미완성, JS 처리 필요) -->
                        <div class="major-accident-separate">
                            <div id="accident01">21.10</div>
                            <div id="accident02">21.11</div>
                            <div id="accident03">21.12</div>
                            <div id="accident04">22.01</div>
                            <div id="accident05">22.02</div>
                            <div id="accident06">22.03</div>
                            <div id="accident07">22.04</div>
                            <div id="accident08">22.05</div>
                            <div id="accident09">22.06</div>
                            <div id="accident10">22.07</div>
                            <div id="accident11">22.08</div>
                            <div id="accident12">22.09</div>
                        </div>
                    </div>
                </article>
            </section>

            <!-- korea_news -->
            <section id="korea_news_content" class="user-content">
                korea_news
            </section>

            <!-- us_news -->
            <section id="us_news_content" class="user-content">
                us_news
            </section>
        </main>

        <script src="js/snbLoading.js"></script>
        <script src="js/loadAccident.js"></script>
    </div>

    <!-- 올해 목표 수익률 -->
    <section class="main-top-section none">
        <article class="greet-user">
            <div class="welcome-user">어서오세요, &nbsp <span class="text-color">이원호</span>님!</div>
            <div class="rate-year-font"><span class="text-color">이원호</span>님의 &nbsp 올해 목표 수익률</div>
            <!-- 목표 수익률 progress bar (미완성, js 동작 추가 필요) -->
            <div class="rate-year">
                <!-- 현재 진행상황도에 따라  left px 증가하는 형식으로 이동 (img 파일, ex 자동차)-->
                <div class="rate-year-move">
                    <img src="../image/car_rate.png" alt="" width="64px" style="vertical-align:bottom">
                </div>

                <!-- 퍼센트에 맞게 변하는 색상 삽입 필요 -->
                <div class="rate-year-progress"></div>

                <div class="rate-year-line"></div>

                <!-- 퍼센트 값, 위치도 위 이미지의 위치에 맞게 변경 필요 -->
                <div class="rate-year-percent">
                    0%
                </div>
            </div>
        </article>
        <aside class="portfolio">
            <div class="user-portfolio"><span class="text-color">이원호</span>님의 포트폴리오</div>
            <div class="portfolio-info"></div>
        </aside>
    </section>

    <!-- 그룹내 목표 달성률 -->
    <section class="main-bot-section none">
        <article>
            <div class="user-group">
                <span class="text-color">이원호</span>님과 비슷한 목표 금액 &nbsp</span>
                <span class="text-color">10-50억</span>
                <span>을 가진 사람은 &nbsp <a class="text-color" href="#">127</a>명, </span>
                <span>이 중 목표달성률이 &nbsp<a class="text-color" href="#">12</a>번째에요.</span>
            </div>

            <!-- 그룹내 목표 달성률 progress bar(미완성, js 동작 추가) -->
            <div class="rate-group">
                <!-- 현재 진행상황도에 따라 left px 증가하는 형식으로 이동 -->
                <!-- 그림 아기 -> 학생 -> 어른 -> 할아버지 등 변화하는 이미지 -->
                <div class="rate-group-move">
                    <img src="../image/baby_rate.png" alt="" width="64px" style="vertical-align:bottom">
                </div>

                <!-- right 640px -> 0px percent에 맞춰 이동 -->
                <div class="rate-group-progress"></div>

                <div class="rate-group-line"></div>

                <!-- 퍼센트 위치도 위 이미지의 위치에 맞게 변경 필요 -->
                <div class="rate-group-percent">0%</div>
            </div>
        </article>    
    </section>
    
    <!-- 은퇴계산기 관련 정보 -->
    <section class="retirement-info-section none">
        <article>
            <!-- 은퇴자들의 노하우 공유 게시글 -->
            <div class="retirement-shared-info">
                <div class="retirement-shared-info-title">
                    <span>은퇴한 사람들의 노하우를 공유해드려요!</span>
                </div>
                <div class="retirement-user-post">
                    <!-- 커뮤니티에 작성된 글을 당겨옴 -->
                    <div class="user-know-how">
                        <a href="">코인으로 인생 졸업하는 초 간단 방법 - 강병준</a>
                    </div>
                    <div class="user-know-how">
                        <a href="">졸업기념 매매방식 공유 (내용추가) - 이영수</a>
                    </div>
                    <div class="user-know-how">
                        <a href="">비트코인 졸업자의 글 - 이원호</a>
                    </div>
                    <div class="user-know-how">
                        <a href="">졸업기념 매매방식 공유 - 권용문</a>
                    </div>
                    <div class="user-know-how">
                        <a href="">졸업기념 매매방식 공유 - 황현동</a>
                    </div>
                </div>
                <div class="retirement-user-post-more">
                    <a href="">더 보기</a>
                </div>
            </div>
        </article>

        <article>
            <!-- 은퇴 계산기를 바탕으로의 정보 제시 -->
            <div class="retirement-user-info">
                은퇴까지 연간 <span class="text-color">rate_of_return</span>%의 수익률을 달성하면
                월 <span class="text-color">cost_of_month</span>원 생활비를 사용할 수 있어요.
                <ul>
                    <li>소비자물가 상승률 <span class="text-color">inflation rate</span>%</li>
                    <li>국고채 3년을 평균 금리 <span class="text-color">sovereign_yield</span>%</li>
                    <li>은퇴까지 <span class="text-color">retirement_year</span>년 남았어요.</li>
                    <li>보유자산 <span class="text-color">user_holdings</span>원 있어요.</li>
                </ul>
            </div>
        </article>
    </section>
</body>
</html>