.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-box{
    display: inline-flex;
    flex-direction: row;
    gap: 24px;
}

.logo-detail{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
}

input[type=search] {
    width: 272px;
    height: 32px;
    padding-inline-start: 16px;
}

.gnb{
    display: flex;
    gap: 108px;
}

.gnb-item{
    font-size: 15px;
    color: white;
    cursor: pointer;   
}

.gnb-item button {
    all: unset;

    cursor: pointer;
}

.gnb-item a {
    color: white;
}

.js-login, .js-logout{
    padding-right: 64px;
}