.text-color{
    color: #6EC1E4;
}

#scrollTopBtn{
    display: inline-block;
    position: fixed;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    bottom: 30px;
    left: 2%;
    cursor: pointer;
}


#scrollToBtn>*{
    color: white;
}

#scrollTopBtn:hover {
    background: rgba(128, 128, 128, 0.3);
}

.none{
    display: none !important;
}

.show{
    display: block !important;
}

.showO{
    visibility: visible;

    opacity: 1 !important;
}

.clicked-mode{
    color: #00a892;
}

.select-bar{
    width: 50%;
    padding: 0 8px;
    border-bottom: 1px solid #00a892;
    margin-bottom: 8px;

    transition: left 0.5s ease-in-out;
}