.major-accident{
    color: white;
}

.major-accident-title{
    text-align: center;
    padding-top: 128px;
    font-size: 76px;
    margin-bottom: 96px;
}

.major-accident-indicator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 112px;
}

.accident-news-date {
    font-size: 24px;
    text-align: center;
    margin-bottom: 64px;
}

.accident-news-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-bottom: 32px;
}

.major-accident-line{
    position: relative;
    margin-top: 64px;
    border-bottom: 1px solid white;
    margin-bottom: 8px;
}

.major-accident-btn-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 10px;
}

.accident-btn{
    position: relative;
    bottom: 15px;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    cursor: pointer;
}

.accident-btn:nth-child(even) {
    background: white;
    border: 1px solid white;
}

.accident-btn:nth-child(odd){
    border: 1px solid red;
    background: red;
}

.major-accident-separate{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
}