.main-top-section{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.greet-user{
    padding-top: 76px;
    text-align: center;

    display: inline-block;
}

.rate-year-font{
    margin-top: 32px;
}

.rate-year{
    margin-top: 32px;

    position: relative;
    width: 640px;
    height: 72px;
}

.rate-year-move{
    position: absolute;
    left: 0;
    bottom: 12px;
}

.rate-year-progress{
    position: absolute;
    left: 0;
    right: 640px;
    bottom: 0;
    height: 12px;
    background-color: #00a892;
}

.rate-year-line{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 640px;
    border-bottom: 1px solid white;
}

.rate-year-percent{
    position: absolute;
    left: 0;
    bottom: -27px;
}

.portfolio{
    display: inline-block;
    width: 324px;
}

.user-portfolio{
    text-align: center;
    margin-bottom: 15px;
}

.portfolio-info{
    height: 324px;
    border: 1px solid white;
    border-radius: 360px;
}

.target-amount{
    all: unset;
    color: aqua;
    background: transparent;
}

.main-bot-section{
    padding-bottom: 30px;
}

.user-group{
    margin-top: 48px;
    text-align: center;
}

.rate-group{
    position: relative;
    width: 640px;
    height: 72px;
    
    margin: 32px auto 0 auto;
}

.rate-group-move{   
    position: absolute;
    left: 0;
    bottom: 4px;
}

/* progress 색상 조절 필요 */
.rate-group-progress{
    position: absolute;
    left: 0;
    right: 640px;
    bottom: 0;
    height: 12px;
    background-color: #00a892;
}

.rate-group-line{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 640px;
    border-bottom: 1px solid white;
}

.rate-group-percent{
    position: absolute;
    left: 0;
    bottom: -27px;
}