.retirement-info-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 432px;
    gap: 32px;
}

.retirement-user-info{
    margin-top: 120px;
}

.retirement-shared-info{
    margin-top: 72px;
    width: 576px;
    border: 1px solid gray;
}

.retirement-shared-info-title{
    padding: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.retirement-user-post{
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

.user-know-how{
    width: 360px;
    margin: 7px auto;
}

.retirement-user-post-more{
    padding: 15px 0;
    text-align: center;
}