*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    width: 100%;
    height: 100%;
    padding: 20px 20px 10px;
    border-bottom: 1px solid gray;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.main-banner{
    background: transparent url(https://d27mjrcvcy56qq.cloudfront.net/images/home/main-banner.jpg) no-repeat;
    background-size: cover;

    color: white;
}

.user-interface{    
    width: 100vw;
    height: 100vh;
}