.js-snb {
    position: relative;
    left: 0;

    background-color: rgba(0, 0, 0, 0.8);

    transition: all 0.5s ease-in-out;
}

.snb{
    width: 288px;
    height: 100vh;
    padding: 10px 5px;
}

.snb-open{
    position: absolute;
    left: 3%;
    top: 50%;

    transform: translate(-50%, -50%);
    cursor: pointer;

    padding: 5px;
    border-right: 1px solid gray;
    border-radius: 50%;
    background-color: #ccc;

    z-index: 31;
}

.snb-open:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.snb-close{
    cursor: pointer;
}

.profile{
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
    align-items: center;
    gap: 20px;
}

.profile-image{
    display: inline-block;
    border: 1px solid gray;
    border-radius: 25%;
    overflow: hidden;
}

.profile-name{
    font-size: 14px;

    color: white;
}

.category{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 0;
}

.category-content{
    padding: 8px 0;
    text-align: right;
    font-size: 20px;
    color: white;
}

.category-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.toggleBtn, .title{
    cursor: pointer;
}

.category-more{
    display: none;
}

.category-more>*{
    padding: 8px 16px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor:pointer;
}

.logout{
    position: absolute;
    right: 8px;
    bottom: 15px;
}

.logout-btn{
    background-color: transparent;
    border: none;
    font-size: 18px !important;
}

.logout-btn>a{
    color: white;
}

.clicked-item{
    background-color: #6EC1E4 !important;
}

.clicked-close{
    left: -250px !important;
}